@font-face {
    font-family: ProximaNova;
    src: url('fonts/ProximaNova-Regular.otf');   
}
body, html{
    width: 100%; 
    margin: 0;
}


div.header{height: 10em;
width: 80%;
margin-left: 10%;
margin-right: 10%;
background-color:aqua;
}


div.navcontainer{
    height: 4em;
    background-color:  blueviolet;
    border-radius: 5%;
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
    top: 0;
    width: 90%;
}
ul.nav{
    height: 4em;
    list-style-type: none;
    margin: 0;
}
li.nav{
    display: inline-block;
    padding-left: 1em;
    font-family: 'Montserrat', sans-serif;
}




div.title{position: relative;
    margin-top: 3em;
text-align: center}

.bodytop{height: auto;
width: auto;
margin-left: 10%}

#rotating-item-wrapper {
	position: relative;
	width: 980px;
	height: 347px;
}
.rotating-item {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}

div#ScientificApproach{
width:30%;
    
height:25em;
float:left;
    border:1px solid black;
margin:0em;
    margin-left:7.17em;
    padding:0px;

}

div#SciApproachText{
    
   border: 1px dotted black; 
width:55%;
    margin-right:3em;
    height:25em;
    float:right;
    
    
    
}
p#SciApproachPara{
    
text-align:center;
    margin-top:3em;
    padding-top:3em;
    
    
}

ul#listsciapproach{
    
 text-align:center;   

    
}

div#BioInteg{
 float:right;
width:30%;
    
height:25em;
    border:1px solid black;
    margin-right: 3em;
}

div#BioIntegTxt{
float:left;
    width:55%;
margin:0px;
    margin-left:7em;
    height:25em;
    border:1px solid black;
    
    
}

p#BioIntegPara{
 text-align:center;
    margin-top:5em;
    padding-top:5em;
    
    
    
}